body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: ivory;
    vertical-align: middle;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;  
}
div {
    background-color:wheat;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    text-align:center;
    font-size:35px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: black;            
    border-radius: 10px;
    justify-content: center;
    align-items:center;
    color:indigo;
    margin-top: 10px;
}
span {
    display: flex;
    flex-direction: column;
    text-align:left;
    font-size:35px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: black;            
    border-radius: 10px;
    justify-content: center;
    align-items:center;
    color:indigo;
    margin-top: 10px;
}
.quzi {
    background-color:forestgreen;
    border-radius: 10px;
    opacity: 0.8;
    height: 80px;
    width: 550px;
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: snow;
    margin-bottom: 5px;
}
.mile {
    background-color:brown;
    border-radius: 10px;
    opacity: 0.8;
    height: 80px;
    width: 500px;
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: snow;
    margin-bottom: 5px;
}
.meet {
    background-color:white;
    border-radius: 10px;
    opacity: 0.9;
    height: 450px;
    width: 650px;
    padding-left: 10px;
    padding-right: 10px;
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:purple;
    margin-bottom: 10px;
}
.josa {
    background-color:teal;
    border-radius: 30px;
    opacity: 0.8;
    height: 80px;
    width: 650px;
    font-size:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:lightyellow;
    margin-bottom: 10px;
}
.buy {
    background-color:teal;
    border-radius: 30px;
    opacity: 0.8;
    height: 80px;
    width: 650px;
    font-size:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:lightyellow;
    margin-bottom: 10px;
}
.price {
    background-color:indigo;
    border-radius: 10px;
    opacity: 0.8;
    height: 140px;
    width: 600px;
    font-size:55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:lightyellow;
    margin-bottom: 10px;
}
.acount {
    background-color:blue;
    border-radius: 10px;
    opacity: 0.8;
    height: 140px;
    width: 600px;
    font-size:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:lightyellow;
    margin-bottom: 10px;
}
a {
    text-decoration-color: none;
    color:whitesmoke;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.footer {
    display: flex;
    widows: 100px;
    height:100px;
    bottom:0;
    background-color:navy;
    border-color: teal;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-right: 10px;
    color:whitesmoke;
    font-size:large;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.store {
    background-color:indigo;
    border-radius: 30px;
    opacity: 0.8;
    height: 80px;
    width: 650px;
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: snow;
    margin-bottom: 15px;
}
.shop {
    color: tomato;
    opacity: 0.9;
    font-size: 35px;
}
.top {
    background-color:brown;
    height: 80px;
    width: 650px;
    color:whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.9;
    font-size: 40px;
    font-weight: 800;
}